@import "lib/base";
@import "lib/animations";
@import "lib/keyframes";

// gradients for ie
$experimental-support-for-svg: true;
// global sprites
$icons: sprite-map("icons/*.png", $spacing: 10px);

%mono{
	font-family: 'CPMono_v07Plain', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}