@import "base";

//FORM STATUS
.status{
    border:none;
    position: relative;
    width: 135px;
    overflow: hidden;
    color: #363636;
    margin-left: -4px;
    padding-left: 1px;
    &:hover{
        background: url(../img/icons/arrow_ico.png) no-repeat 122px 8px #353535;
        border: 1px solid #444;
        select{
            color: #fff;
        }
    }
    select{
        font-family: 'LucidaSans', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
        font-size: 13px;
        color: #363636;
        background: transparent;
        -webkit-appearance: none;
        border: none;
        width: 220px;
        cursor: pointer;
    }
    option{
        background: #353535;
        color: #fff;
    }
}

//DETAILS
.details{
    color: #363636;
    font-size: 13px;
    background: #fafafa;
    padding: 0 0 20px;
    overflow: hidden;
    a{
        text-decoration: underline;
        color: #404040;
        &:hover{
            text-decoration: none;
        }
    }
}
    //details__title
    .details__title{
        text-shadow: 0 1px 0 black;
        box-shadow: 0 0 10px #4b4b4b;
        background-color: #404040;
        padding: 8px 20px;
        @include background-image(linear-gradient(#1a1a1a, #404040));
        border-top: 1px solid #303030;
        border-bottom: 1px solid #353535;
        h2{
            color: #fff;
            font-size: 24px;
            line-height: 1.5;
            font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
            -webkit-mask-image: -webkit-linear-gradient(rgba(0,0,0,1) 40%, rgba(60,60,60,0.4) 70%);
        }
    }
    //details__menu
    .details__menu{
        margin: 13px 0 -2px;
        line-height: 20px;
        text-align: center;
        position: relative;
        font-size: 11px;
    }
        //details__merge
        .merge{
            position: absolute;
            left: 24px;
            font-size: 11px;
            i{
                @include sized-sprite($icons, merge_ico);
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
        //details__collapse
        .collapse{
            position: absolute;
            right: 24px;
            font-size: 11px;
            z-index: 2;
            i{
                @include sized-sprite($icons, collapse_ico);
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
        .expand{
            position: absolute;
            right: 24px;
            font-size: 11px;
            z-index: 2;
            i{
                @include sized-sprite($icons, expand_ico);
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
        //nav_details
        .nav_details{
            vertical-align: middle;
            li{
                a{
                    color: #363636;
                    &:hover{
                        background-color: rgba(60, 60, 60, 0.8);
                        border: 1px solid #191919;
                        border-radius: 4px 4px 4px 4px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }

    //details__content
    .details__content{
        margin: 10px 0;
        position: relative;
    }

        //entry
        .entry{
            border-top: 1px solid #e1e1e1;
            overflow: hidden;
            position: relative;
            padding: 10px 0 10px 12px;
            &.selected{
                background-color: #f1ecdf;
            }
            //entry__meta
            .entry__meta{
                float: left;
                width: 280px;
                margin-left: 10px;
                &.entry__meta_short{
                    width: 255px;
                }
            }
                //entry__type
                .entry__type{
                    display: inline-block;
                    vertical-align: bottom;
                    font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
                    font-size: 14px;
                    color: #252525;
                    position: relative;
                    label{
                        cursor: pointer;
                        margin-left: 3px;
                    }
                    input{
                        width: 15px;
                        height: 15px;
                        opacity: 0;
                        position: relative;
                        z-index: 2;
                        cursor: pointer;
                    }
                        input:checked + i{
                                @include sized-sprite($icons, input_checked_ico);
                                position: absolute;
                                left: 0;
                                top: 2px;
                            }
                    i{
                        position: absolute;
                        @include sized-sprite($icons, input_ico);
                        left: 0;
                        top: 2px;
                        line-height: 16px;
                    }
                }
                //entry__date
                .entry__date{
                    display: inline-block;
                    text-transform: uppercase;
                    color: #777;
                    font-size: 11px;
                    vertical-align: bottom;
                }
                //entry__media
                .entry__media{
                    margin: 13px 0 8px;
                    img{
                        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
                        max-width: 262px;
                        min-height: 172px;
                    }
                    &.entry__media_short{
                        img{
                            max-width: 131px;
                            min-height: 87px;
                        }
                    }
                }
                .entry__comments{
                    font-family: 'CPMono_v07Plain', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
                    font-size: 18px;
                    margin-left: 1px;
                    a{
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    i{
                        @include sized-sprite($icons, comment_ico);
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                    .comments__count{
                        font-family: 'LucidaSans', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
                        font-size: 13px;
                        margin-left: 10px;
                    }
                }

                //entry__info
                .entry__info{
                    overflow: hidden;
                    padding: 2px 0 0 15px;
                }
                    //entry__expand
                    .entry__expand{
                        position: relative;
                        width: 100%;
                        text-align: left;
                        margin-bottom: 2em;
                        th{
                            text-transform: uppercase;
                            font-size: 11px;
                            color: #777;
                            height: 19px;
                            padding-left: 5px;
                        }
                        tr:nth-child(2n){
                            background-color: #e1e1e1;
                        }
                        td{
                            padding-left: 5px;
                            height: 25px;
                            vertical-align: middle;
                            width: 20%;
                        }
                            .video{
                                position: absolute;
                                left: -15px;
                                top: 0;
                                @include sized-sprite($icons, video_ico);
                                &.video_short{
                                    left: 10px;
                                    top: 5px;
                                }
                            }
                            .audio{
                                position: absolute;
                                left: -15px;
                                top: 0;
                                @include sized-sprite($icons, audio_ico);
                                &.audio_short{
                                    left: 10px;
                                    top: 5px;
                                }
                            }
                            .sub{
                                position: absolute;
                                left: -15px;
                                top: 0;
                                @include sized-sprite($icons, sub_ico);
                                &.sub_short{
                                    left: 10px;
                                    top: 5px;
                                }
                            }
                            .aspect{
                                font-family: 'CPMono_v07Plain', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
                                font-size: 18px;
                                margin-right: 8px;
                            }
                            .lang{
                                font-family: 'CPMono_v07Plain', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
                                font-size: 18px;
                                margin-right: 8px;
                            }
                            .added{
                                text-transform: uppercase;
                            }
                            .assigned{
                                font-weight: bold;
                            }

                        //entry__expand_short
                        &.entry__expand_short{
                            background: #e1e1e1;
                            display: block;
                            padding-top: 3px;
                            padding-left: 10px;
                            position: relative;
                            td{
                                display: none;
                                padding-left: 15px;

                            }
                            tr,thead,tbody{
                                display: inline-block;
                                background: transparent !important;

                            }
                            tr{
                                td,th{
                                    &:first-child{
                                        display: inline-block;
                                        white-space:nowrap;
                                        vertical-align: middle;
                                    }
                                }
                                th{
                                    font-size: 0;
                                    padding-left: 0;
                                    display: none;
                                }
                            }
                        }
                        &.entry__expand_short-bg-none{
                            background: none;
                        }


                    }
        }