@import "base";

//topper
.topper{
	overflow: hidden;
	width: 100%;
	background-color: #212121;
	border-bottom: 1px solid #000;
	padding: 11px 0;
	a{
		text-decoration: none;
		text-shadow: 0 1px 0 #000;
		color: #777;
		&:hover{
			color: #2f669f;
		}
	}
}


	//topper__nav
	.topper__nav{
		float: left;
		margin-left: 15px;
		li{
			display: inline;
			margin-right: 8px;
		}
	}

	//profile
	.profile{
		float: right;
		margin-right: 17px;
		.profile__user,
		.profile__logout{
			display: inline-block;
		}
		.profile__user{
			font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
			margin-right: 5px;
			a{
				color: #fff;
				&:hover{
					color: #2f669f;
				}
			}
		}
	}

//header
.header{
	background-color: #3f3f3f; //tmp
	border-bottom: 1px solid #2c2c2c;
	background: url(../img/header_bg.png);
	box-shadow:inset 0px 10px 10px rgba(#000,0.4);
	padding: 24px 0 9px;
}

	//header__logo
	.header__logo{
		float: left;
		width: 124px;
	    margin-left: 17px;
	    margin-right: 25px;
		a{
			@include sized-sprite($icons, logo);
			display: block;
			overflow: hidden;
			text-indent: -9999px;
		}
	}

	//header__col
	.header__col{
		//overflow: hidden;
		margin-left: 165px;
	}

		//field
		.field{
			border-radius: 30px;
			border: 1px solid #333;
			margin-bottom: 10px;
			background-color: #fff;
			margin-right: 25px;
			position: relative;
			color: #000;
			box-shadow: inset 0px 4px 5px -1px rgba(0,0,0,.2);
		}

			.field__option{
	 			position: absolute;
	 			left: 1px;
	 			top: 0;
	 			line-height: 19px;
	 			margin-top: 1px;
			}
				.field__col{
					float: left;
					margin-right: 4px;
				}
					.field__drop,
					.field__text{
						display: inline-block;
						vertical-align: middle;
						background-color: #ffdb7e;
						border: 1px solid #b69f29;
					}
					.field__drop{
						position: relative;
						padding: 0 7px;
						border-radius: 10px 0 0 10px;
						color: #7d7548;
						text-transform: uppercase;
						font-size: 9px;
						&:hover{
							color: #000;
							border-radius: 10px 0 0;
							cursor: pointer;
							background-color: rgba(255,188,78,.9);
							border-bottom: transparent;
							padding-bottom: 1px;
							ul{
								display: block;
							}
						}
						ul{
							background-color: rgba(255,188,78,.9);
							display: none;
							position: absolute;
							left: -1px;
							top: 20px;
							padding-bottom: 5px;
							line-height: 1.4;
							border: 1px solid #b69f29;
							border-top: none;
							width: 120px;
							color: #000;
							z-index: 1001;
							li{
								padding: 5px;
								a{
									&:hover{
										text-decoration: underline;
									}
								}
							}
						}

					}
					.field__text{
						border-left: none;
						margin-left: -3px;
						padding: 0 7px;
						border-radius: 0 10px 10px 0;
						font-size: 14px;
					}
						.field__arr{
							@include sized-sprite($icons, arr_ico);
							position: absolute;
							top: 8px;
							right: 3px;
						}
						.field__drop-text{
							margin-right: 12px;
						}

			.field__search{
				overflow: hidden;
				padding-left: 355px;
				input{
					font-family: 'LucidaSans', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
					font-size: 14px;
					color: #000;
					width: 100%;
					border: 0;
					background: transparent;
					height: 23px;
				}
			}



		//nav
		.nav{
			display: inline-block;
			text-transform: uppercase;
			li{
				float: left;
				margin-left: -14px;
				&:first-child{
					margin-left: 0;
				}
				a{
					display: block;
					text-align: center;
					line-height: 20px;
					border: 1px solid transparent;
					padding: 0 27px 0 31px;
					text-decoration: none;
					color: #a1a1a1;
					&:hover{
						color: #ccc;
						background-color:  rgba(35, 35, 35, 0.3);
						border-radius: 4px;
						border: 1px solid #222;
						text-decoration: none;
					}
				}
			}
		}








