@import "base";

// MOVIE
.movie{
   // margin: 0 36px 22px 0;
   // float: left;
   // width: 262px;
   // height: 201px;

   display: inline-block;
   vertical-align: top;
   width: 262px;
   margin: 22px 16px 0 18px;

   //movie__type
   .movie__type{
      color: #777;
      text-transform: uppercase;
   }

   //movie__title
   .movie__title{
      font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
      font-size: 13px;
      color: #ccc;
      line-height: 1.8;
      text-shadow: 0 -1px 0 #000;
   }
}

      .item {
         -webkit-perspective: 1000;
         -moz-perspective: 1000;
         perspective: 1000;
         box-shadow:0 0 10px rgba(#000, .7);
         -webkit-transition: 0.6s;
         &:hover{
            .item__flipper{
			// full rotate
			//                -webkit-transform: rotateY(180deg);
			//                -moz-transform: rotateY(180deg);
			//                transform: rotateY(180deg);

               -webkit-transform: rotate3d(0,1,0,35deg);
               -moz-transform: rotate3d(0,1,0,35deg);
               transform: rotate3d(0,1,0,35deg);
            }
         }
         &.flipped{
            -webkit-transform:scale(1.1);
            .item__flipper{
            //full rotate
               -webkit-transform: rotateY(180deg);
               -moz-transform: rotateY(180deg);
               transform: rotateY(180deg);

            }
         }
         .item__flipper {
            -webkit-transition: 0.6s;
            -webkit-transform-style: preserve-3d;

            -moz-transition: 0.6s;
            -moz-transform-style: preserve-3d;

            transition: 0.6s;
            transform-style: preserve-3d;

            position: relative;
         }
         .item__front, .item__back {
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
         }

         .item__front {
            background: #ccc;
            z-index: 2;
         }

         .item__back {
            background: #666;
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            transform: rotateY(180deg);
            h2{
               padding: 20px;
               color: #ffffff;
               text-shadow: 0 1px 0 #000;
               font-size: 19px;
               font-weight: normal;
            }

         }
         .item__left{
            position: absolute;
            background: #222;
            z-index: 1;
            width: 50px;
            left: -25px;
            height: 173px;
            -webkit-transform: rotate3d(0,1,0,-90deg) translatex(-25px);
            -moz-transform: rotate3d(0,1,0,-90deg) translatex(-25px);
            transform: rotate3d(0,1,0,-90deg) translatex(-25px);
         }
      }
      .item, .item__front, .item__back {
         width: 262px;
         height: 173px;
         margin-bottom: 10px;
      }
      .flipped .item__left{
               opacity:0;
               -webkit-transition: 0.6s;
            }


//DETAILS
.details{
	color: #363636;
	font-size: 13px;
	background: #fafafa;
    padding: 0 0 20px;
    overflow: hidden;
    a{
    	text-decoration: underline;
    	color: #404040;
    	&:hover{
    		text-decoration: none;
    	}
    }
}
	//details__title
	.details__title{
		text-shadow: 0 1px 0 black;
		box-shadow: 0 0 10px #4b4b4b;
		background-color: #404040;
		padding: 8px 20px;
		@include background-image(linear-gradient(#1a1a1a, #404040));
		border-top: 1px solid #303030;
		border-bottom: 1px solid #353535;
		h2{
			color: #fff;
			font-size: 24px;
			line-height: 1.5;
			font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
			-webkit-mask-image: -webkit-linear-gradient(rgba(0,0,0,1) 40%, rgba(60,60,60,0.4) 70%);
		}
	}
	//details__menu
	.details__menu{
		margin: 13px 0 -2px;
		line-height: 20px;
		text-align: center;
		position: relative;
		font-size: 11px;
	}
		//details__merge
		.merge{
			position: absolute;
			left: 24px;
			font-size: 11px;
			i{
				@include sized-sprite($icons, merge_ico);
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
			}
		}
		//details__collapse
		.collapse{
			position: absolute;
			right: 24px;
			font-size: 11px;
			i{
				@include sized-sprite($icons, collapse_ico);
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
			}
		}
		.expand{
			position: absolute;
			right: 24px;
			font-size: 11px;
			i{
				@include sized-sprite($icons, expand_ico);
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
			}
		}
		//nav_details
		.nav_details{
			vertical-align: middle;
			li{
				a{
					color: #363636;
					&:hover{
						background-color: rgba(60, 60, 60, 0.8);
					    border: 1px solid #191919;
					    border-radius: 4px 4px 4px 4px;
					    color: #fff;
					    text-decoration: none;
					}
				}
			}
		}

	//details__content
	.details__content{
		margin: 10px 0;
		position: relative;
	}

		//entry
		.entry{
			border-top: 1px solid #e1e1e1;
			overflow: hidden;
			position: relative;
			padding: 10px 12px;
			&.selected{
				background-color: #f1ecdf;
			}
			//entry__meta + entry__info
			.entry__meta,
			.entry__info{
				float: left;
			}
			//entry__meta
			.entry__meta{
				width: 280px;
				margin-left: 10px;
				margin-right: -290px;
			}
				//entry__type
				.entry__type{
					display: inline-block;
					vertical-align: bottom;
					font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
					font-size: 14px;
					color: #252525;
					position: relative;
					label{
						cursor: pointer;
						margin-left: 3px;
					}
					input{
						width: 15px;
						height: 15px;
						opacity: 0;
						position: relative;
						z-index: 2;
						cursor: pointer;
					}
						input:checked + i{
								@include sized-sprite($icons, input_checked_ico);
								position: absolute;
								left: 0;
								top: 2px;
							}
					i{
						position: absolute;
						@include sized-sprite($icons, input_ico);
						left: 0;
						top: 2px;
						line-height: 16px;
					}
				}
				//entry__date
				.entry__date{
					display: inline-block;
					text-transform: uppercase;
					color: #777;
					font-size: 11px;
					vertical-align: bottom;
				}
				//entry__media
				.entry__media{
					margin: 13px 0 8px;
					img{
						box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
					}
				}
				.entry__comments{
					font-family: 'CPMono_v07Plain', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
					font-size: 18px;
					margin-left: 1px;
					a{
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
					i{
						@include sized-sprite($icons, comment_ico);
						display: inline-block;
						vertical-align: middle;
						margin-right: 10px;
					}
					.comments__count{
						font-family: 'LucidaSans', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
						font-size: 13px;
						margin-left: 10px;
					}
				}

				//entry__info
				.entry__info{
					width: 100%;
					margin-left: 309px;
					margin-top: 2px;
				}
					//entry__expand
					.entry__expand{
						position: relative;
						width: 80%;
						text-align: left;
						th{
							text-transform: uppercase;
							font-size: 11px;
							color: #777;
							height: 20px;
						}
						tr:nth-child(2n){
							background-color: #e1e1e1;
						}
						td{
							height: 25px;
							vertical-align: middle;
						}
							.video{
								position: absolute;
								left: -19px;
								top: -1px;
								@include sized-sprite($icons, video_ico);
							}
							.aspect{
								font-family: 'CPMono_v07Plain', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
								font-size: 18px;
								margin-right: 8px;
							}
							.added{
								text-transform: uppercase;
							}
							.assigned{
								font-weight: bold;
							}
					}
		}